!DOCTYPE html>
<html lang="en" ng-app="eduit">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Formularios</title>
    <style>
      label {
        display: block;
      }
      form, input {
        margin: 5px;
      }
      form.ng-submitted.ng-invalid,
      form.ng-submitted input.ng-invalid {
        border: 1px solid red;
      }
    </style>
  </head>  
  <body>
    <section ng-controller="formularioController">
      <form name="formulario" ng-submit="enviarDatos()" novalidate>
        <eduit-input name="Pais:"></eduit-input>
        <eduit-input name="Provincia:"></eduit-input>
        <eduit-input name="Cuidad:"></eduit-input>
        
        <label>
          Paise:<br>
          <select
                  name="pais"
                  ng-model="paisSeleccionado"
                  ng-options="paisItem for paisItem in  paises">
          </select>
        </label>
        <label>
          Pronvincia:<br>
          <select
                  name="provincia"
                  ng-model="provinciaSeleccionado"
                  ng-options="provinciatem for provinciatem in provincias"
                  ng-disabled="!paisSeleccionado"
                  ng-change="cambioProvincia()">
          </select>
        </label>
        <label>
          Ciudad:<br>
          <select
                  name="ciudad"
                  ng-model="ciudadSeleccionado"
                  ng-options="ciudadItem for ciudadItem in ciudades"
                  ng-disabled="!provinciaSeleccionado">
          </select>
        </label>
        <button type="submit" ng-click="ngClcik()" ng-disabled="!ciudadSeleccionado">
          Enviar
        </button>
      </form>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/clas3/angular-messages.min.js"></script>
    <script>
      angular.module('eduit', ["ngMessages"])
        .controller('formularioController', function($scope){
        $scope.paises = ["Argentina", "Brasil", "Uruguay"]
          $scope.enviarDatos = function() {
          }
          $scope.$watch('paisSeleccionado', function(nuevoValor, viejoValor){
            switch(nuevoValor){
              case 'Argentina':
                $scope.provincias = ["Chubut", "Buenos Aires", "La Pampa"];
              break;
              case 'Brasil':
                $scope.provincias = ["Pronvincia 1"];
              break;
              default:
                $scope.provincias = [];
              break;
            }
          })
          $scope.cambioProvincia = function() {
            switch($scope.provinciaSeleccionado){
              case 'Chubut':
                $scope.ciudades = ["Puerto Madryn", "Rawson"];
              break;
              case 'Buenos Aires':
                $scope.ciudades = ["La Plata","San Miguel"];
              break;
              default:
                $scope.ciudades = [];
              break;
            }
          }
        })
    </script>
  </body>
</html>